@charset "UTF-8";
@import url(font.css);

/* common */
body .viewer {
  font-family: "NotoSansKR", sans-serif;
  font-weight: 400;
  letter-spacing: -0.4px;
  line-height: 1.2;
  word-break: break-all;
  color: #2a2c2f;
  margin: 0;
  padding: 0;
}

/*content*/
.viewer {
  /* height: 100vh; */
  /* background: #2a303b; */
  overflow-y: hidden;
}
.viewer__top {
  position: fixed;
  width: calc(100% - 40px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #252b34;
  border-bottom: 1px solid #38404d;
  z-index: 10;
}
.viewer__top h1 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  letter-spacing: -0.025rem;
  color: #fff;
}
.viewer__top .top__right {
  display: flex;
  align-items: center;
}
.viewer__top .top__right img {
  opacity: 0.3;
  width: 46px;
  height: 22px;
}
.viewer__top .top__right button {
  width: 120px;
  height: 32px;
  background: transparent;
  border: 0;
  margin-right: 1rem;

  cursor: pointer;
}
.viewer__top .top__right button:hover {
  background-color: #171a20;
}
.viewer__top .top__right button span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: -0.025rem;
  color: #fff;
}
.viewer__top .top__right button span::after {
  content: "";
  margin-left: 0.563rem;
  width: 1.313rem;
  height: 1.313rem;
  background: url("../img/icon_filedown_w@3x.png") no-repeat center center;
  background-size: 100%;
}
.viewer .paging__area {
  display: flex;
  align-items: center;
}
.viewer .paging__area p {
  font-size: 0.875rem;
  line-height: 1rem;
  letter-spacing: -0.025rem;
  color: #fff;
  margin-right: 0.813rem;
}
.viewer .paging__button {
  display: flex;
  align-items: center;
}
.viewer .paging__button li {
  list-style: none;
}
.viewer .paging__area a {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: -0.025rem;
  color: #fff;
}
.viewer .btn-prev a,
.viewer .btn-next a {
  font-size: 0;
}
.viewer .btn-prev {
  width: 28px;
  height: 28px;
  background: url("../img/icon_btn_prev.png") no-repeat center center;
  background-size: 100%;
  transform: rotate(180deg);
}
.viewer .btn-next {
  width: 28px;
  height: 28px;
  background: url("../img/icon_btn_prev.png") no-repeat center center;
  background-size: 100%;
}
.viewer .btn-prev.disabled {
  background: url("../img/icon_btn_prev_dis.png") no-repeat center center;
  background-size: 100%;
  transform: rotate(0deg);
}
.viewer .btn-next.disabled {
  background: url("../img/icon_btn_prev_dis.png") no-repeat center center;
  background-size: 100%;
  transform: rotate(180deg);
}
.viewpaging__select span {
  margin-right: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: -0.025rem;
  color: #fff;
}
.viewpaging__select input[type="text"] {
  padding: 0 7px;
  width: 24px;
  height: 28px;
  border: 1px solid #171a20;
  border-radius: 4px;
  background: #171a20;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1rem;
  letter-spacing: -0.025rem;
  color: #fff;
  text-align: right;
}
.viewer__document {
  display: block;
  margin: 53px auto 0;
  padding: 0 0 53px;
  text-align: center;
  /* width: calc(100% - 118px);
  height: calc(100vh - 100px); */
  background: #2a303b;
  overflow-y: scroll;
}
.viewer__document img {
  width: calc(100% - 118px);
  margin: 0 auto;
}
.viewer__document .react-pdf__Document {
  width: calc(100% - 118px);
  margin: 0 auto;
}
.viewer__document .react-pdf__Page__canvas {
  width: 100% !important;
}
.viewer__bottom {
  display: none;
  align-items: center;
  margin: 20px 25px;
}
.viewer__bottom span {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.viewer__bottom span img {
  width: 100px;
  height: auto;
}
.viewer__bottom .paging {
  font-weight: 400;
  font-size: 12px;
  color: #a4b0c3;
}

@media screen and (max-width: 870px) {
  .viewer__top h1 {
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
  .viewer .paging__area p {
    display: none;
  }
  .viewer__top .top__right img {
    display: none;
  }
  .viewer__top .top__right button {
    width: 33px;
    margin-right: 0;
  }
  .viewer__top .top__right button span {
    font-size: 0;
  }
  .viewer__top .top__right button span::after {
    margin-left: 0;
  }
  .viewer__document {
    padding: 0;
    background: #fff;
    border-top: 10px solid #2a303b;
  }
  .viewer__document img {
    width: 100%;
  }
  .viewer__document .react-pdf__Document {
    width: 100%;
  }
  .viewer__bottom {
    display: flex;
  }
}
@media screen and (max-width: 500px) {
  .viewer__top h1 {
    width: 40%;
  }
}
@media screen and (max-width: 350px) {
  .viewer__top h1 {
    width: 30%;
  }
}
